@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dim;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}
html, body, #root {
  height: 100%;
  margin: 0;
}